body {
  padding: 50px;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  /* margin-left: auto; */

}

a {
  color: #00B7FF;
}
table{
  text-align: center;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-left: 50px;
  /* margin-left: 50px; */
  /* border: 1px solid black; */
}
th{
  padding-left: 50px;
  margin-left: 50px;
  border: 1px solid black;
}
tr{
  border: 1px solid black;
}